@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
}
.sep{
    display: flex;
    transition: all 1s;
    color: white;
    animation: right_key 1s;
    position: fixed;
    width: 55%;
    height: 95vh;
    background: linear-gradient(117.68deg, #f89d14 11.52%, #FCD535 47.54%, #FFEE51 67.75%);
    border-radius: 0 0 200vh 0;
    z-index: 1;
}
.left{
    animation: left_key 1s;
    margin-top: 5vh;
    left: 50%;
    background: linear-gradient(117.68deg, #ead515 11.52%, #FCD535, #f89d14 67.75%);
    border-radius: 200vh 0 0 0;
}
input{
    font-size: 20px;
}
h3{
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    font-weight: 100;
}
@keyframes left_key{
    0%{
        margin-top: 0;
        left: 0%;
    }
    100%{
        left: 50%;
    }
}
@keyframes right_key{
    0%{
        left: 50%;
    }
    100%{
        left: 0%;
    }
}
.content_sep{
    margin: 21%;
    margin-top: 20%;
    width: 35vh;
    text-align: center;
}
.left_content_sep{   
    margin: auto;
    margin-top: 30%;
    width: 35vh;
    text-align: center;
    margin-left: 40vh;
    color: black;
}
.left_content_sep button{
    color: white;
}
.content{
    margin: auto;
    margin-top: 22.5%;
}
button{
    margin-top: 7.5vh;
    width: 75%;
    height: 70px;
    background: none;
    border-radius: 1vh;
    border-color: #fff;
    font-size: 20px;
    font-weight: 800;
    transition: all .1s;
}
button:hover{
    width: 77%;
}.content_left{
    padding-top: 10vh;
    padding-left: 18.5vh;
}
.content_right{
    display: flex;
    margin: auto;
    padding-top: 25vh;
    margin-right: 22vh;
    z-index: 0;
    width: 50vh;
}
.content_right div{
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
}
.cache{
    display: none;
}
.input_regist{
    margin-top: 5vh;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    border: none;
    border-bottom: 5px solid #FFA927;
}
.input_login{
    margin-top: 10vh;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    border: none;
    border-bottom: 5px solid #FFA927;
}
.button_login{
    margin-top: 14vh;
    border-radius: 0;
    border: none;
    color: white;
    background-color: #FFA927;
}